.Parafolding {}

.Parafolding-group {}

.Parafolding-title {
   border-radius: 6px;
   cursor       : pointer;
   user-select  : none;
   margin       : 0 1.2em;
   padding      : 3px;
   background-image: linear-gradient(115deg, #4fcf70, #fad648,
         #a767e5, #12bcfe, #44ce7b);

   &:hover {
      >.Parafolding-title-inner {
         .lighttheme-doc & {
            background: #faf9f8;
         }

         .darktheme-doc & {
            background: #323130;
         }
      }
   }

   >.Parafolding-title-inner {
      width         : 100%;
      height        : 100%;
      line-height   : 1.4;
      padding       : .2em 1em;
      text-align    : center;
      font-family   : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: .06em;
      border-radius : 3px;

      &.left {
         text-align: left;
      }

      .lighttheme-doc & {
         background: white;
         color     : #3b3a39;
      }

      .darktheme-doc & {
         background: #201f1e;
         color     : #c8c6c4;
      }
   }
}

.Parafolding-content {
   margin       : 0 1.2em;
   max-height   : 0;
   overflow-y   : auto;
   transition   : max-height .3s ease;
   padding-left : 0 !important;
   padding-right: 0 !important;

   &.show {
      max-height: 30em;
   }
}
