.doc-1 {
   position     : relative;
   width        : 100%;
   z-index      : 60;
   border-radius: 18px 18px 0 0;
   display      : grid;
   opacity      : .8;
   transition   : grid-gap .6s, opacity .6s;
   overflow     : hidden;
}

.doc-1-headerfixed {
   z-index: 10 !important;
}

.doc-1-no-aside {
   grid-template-columns: 100%;
}

.doc-1-has-aside {
   grid-template-columns: 25% 75%;
   grid-gap             : 5%;
}

@media(max-width: 900px) {
   .doc-1-has-aside {
      grid-template-columns: 100%;
   }

   #doc-aside-container {
      display: none;
   }

   .doc-1-headerfixed #doc-2-bg {
      left : 0 !important;
      width: 100% !important;
   }

   .doc-1-headerfixed #doc-infobar {
      left : 0 !important;
      width: 100% !important;
   }

   div.doc-3-bg-fixed {
      width: 100% !important;
      left : 0 !important;
   }
}

#doc-1-bg,
#doc-2-bg,
#doc-3-bg {
   transition   : background-color .6s;
   position     : absolute;
   left         : 0;
   top          : 0;
   width        : 100%;
   height       : 100%;
   border-radius: 18px 18px 0 0;
}

#doc-1-bg {
   z-index: 10;
}

#doc-2-bg {
   z-index   : 20;
   box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

#doc-3-bg {
   z-index   : 30;
   box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132), 0 0.6px 1.8px 0 rgba(0, 0, 0, .108);
}

.doc-1-headerfixed #doc-1-bg {
   position: fixed;
   top     : 98px;
}

.doc-1-headerfixed #doc-2-bg {
   position: fixed;
   top     : 98px;
   left    : 25%;
   width   : 75%;
}

.doc-1-headerfixed #doc-infobar {
   position: fixed;
   top     : 98px;
   left    : 25%;
   width   : 75%;
}

.doc-1-headerfixed #doc-aside {
   position: fixed;
   top     : 98px;
   width   : 25%;
}

.doc-3-bg-fixed {
   position: fixed !important;
   top     : 98px !important;
   width   : 75% !important;
   left    : 25% !important;
}

#doc-aside-container {
   min-height: 600px;
   z-index   : 15;
}

#doc-2 {
   position     : relative;
   border-radius: 25px 25px 0 0;
}

#doc-infobar-container {
   width : 100%;
   height: calc(107px + 1.5em);
}

#doc-infobar {
   width    : 100%;
   position : relative;
   z-index  : 25;
   font-size: 1.5em;
   padding  : 1em 1.4em 20px 1.4em;
   height   : calc(107px + 1em);
}

#doc-3 {
   position  : relative;
   width     : 100%;
   min-height: 600px;
}

#doc-body {
   font-size: 1.5em;
   position : relative;
   z-index  : 35;
   width    : 100%;
   padding  : 1.6em 0 0 0;
}

#doc-body>* {
   margin-right: 1.4em;
   margin-left : 1.2em;
}

#doc-body>*:first-child {
   margin-top: 0;
}

#doc-body h2 {
   font-family  : 'Futura PT Light';
   font-size    : 1.4em;
   line-height  : 1.4;
   margin-top   : 2em;
   margin-bottom: 1em;
}

#doc-body p {
   font-family   : 'Raleway';
   line-height   : 1.5;
   margin-top    : 1em;
   margin-bottom : 1em;
   padding-left  : 1.2em;
   letter-spacing: .018em;
}

.doc-setting-callout-inner {
   padding: 1.5em 2em;
}