.doc-setting-tg {
   &.ms-Toggle {
      font-size      : 1em;
      justify-content: flex-end;
   }

   & .ms-Toggle-label {
      line-height: 2em;
      padding    : 0;
      display    : flex;
      align-items: center;
      flex       : 1 0 auto;

      &>.ms-Icon {
         font-size: 2em;
         flex     : 0 0 auto;
      }

      &>span {
         font-size : 1.2em;
         flex      : 1 0 auto;
         text-align: right;
      }
   }

   & .ms-Toggle-stateText {
      line-height: 20px;
      width      : 20px;
   }
}

.doc-setting-dd {
   & .ms-Dropdown {}
}