#cover {
   position  : relative;
   width     : 100%;
   height    : 38vh;
   min-height: 150px;
   max-height: 450px;
   z-index   : 0;
   overflow  : hidden;
   box-shadow: 0 0 10px black;
}

#cover-bg {
   position           : absolute;
   background         : #201f1e;
   left               : 0;
   top                : 0;
   width              : 100%;
   height             : 100%;
   z-index            : 0;
   perspective        : 500px;
   -webkit-perspective: 500px;
}

#cover-bg>img:nth-child(1) {
   opacity   : 0;
   transition: opacity .3s;
   position  : absolute;
   transform : translateZ(80px);
   z-index   : 0;
   filter    : blur(18px);
}

#cover-bg>img:nth-child(2) {
   opacity   : 0;
   transition: transform .8s, filter .8s;
   position  : absolute;
   transform : translateZ(80px);
   z-index   : 1;
   filter    : blur(18px);
}

#cover-bg>div {
   display    : block;
   width      : 100%;
   height     : 100%;
   user-select: none;
   position   : absolute;
   left       : 0;
   top        : 0;
   z-index    : 2;
}

#cover-txt-container {
   position: absolute;
   width   : 100%;
   height  : 100%;
   top     : 0;
   left    : 0;
}

#cover-txt {
   font-family          : "Futura PT Light";
   font-weight          : 100;
   font-size            : 4.5em;
   line-height          : 1.4;
   position             : absolute;
   left                 : 50%;
   top                  : 50%;
   transform            : translate(-50%, -50%);
   color                : white;
   /* text-decoration   : underline; */
   text-align           : center;
   text-shadow          : 1px 2px 4px #8a8886;
   user-select          : none;
   z-index              : 3;
   letter-spacing       : .05em;
}

#cover-txt>span {
   position: relative;
   z-index : 4;
}

#cover-txt>div {
   background   : #edebe9;
   width        : 100%;
   height       : 4px;
   border-radius: 2px;
   position     : absolute;
   bottom       : .23em;
   box-shadow   : 1px 2px 4px #8a8886;
   z-index      : 3;
}