#doc-infobar-bcs {
   display: flex;
   margin : 0 0 8px 0;
   height : 44px;

   >div:nth-child(1) {
      flex: 1 1 auto;
   }

   >div:nth-child(2) {
      flex     : 0 1 auto;
      min-width: 20px;
   }

   >div:nth-child(3) {
      flex: 0 0 auto;
   }
}

.doc-infobar-share {
   width : 95px;
   height: 100%;
}


#doc-infobar-activity {
   margin: 8px 0 0 0;
}

.editor-name {
   font-weight: bold;
   font-size  : 1.2em;
}

.Breadcrumb-fixmargin * {
   margin     : 0 !important;
   height     : 44px !important;
   line-height: 44px !important;
}

.doc-infobar-settings {
   flex   : 0 0 44px;
   width  : 44px;
   display: none;
}

.doc-infobar-settings>button {
   width : 44px;
   height: 44px;
}

@media(max-width: 900px) {
   .doc-infobar-settings {
      display: block;
   }
}

@media(max-width: 768px) {
   .doc-infobar-share {
      width: 52px;

      .ms-Button-textContainer {
         display: none;
      }
   }
}