.cri-1 {
   display        : flex;
   justify-content: center;
   width          : 100%;
   margin         : 0;
   padding        : 0;

   @media (max-width: 900px) {
      width: auto;
   }

}

.cri-2 {
   width: 70%;

   >p {
      .num {
         font-family: 'Segoe UI', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif !important;
      }

      text-align : left !important;
   }

   @media (max-width: 800px) {
      width: auto;
   }

   h2 {
      margin-top: 1em !important;
   }
}
