.m-1 {
   width          : 100%;
   margin         : 0;
   padding        : 0;
   display        : flex;
   justify-content: center;
}

.m-2 {
   width         : 80%;
   max-width     : 1200px;
   display       : flex;
   flex-direction: column;
}

.p-1 {
   width           : 100%;
   min-height      : 12em;
   // background   : red;
   display         : flex;
   margin-bottom   : 2em;
   align-items     : flex-start;
}

.p-l {
   flex            : 0 0 auto;
   width           : 12em;
   height          : 12em;
   overflow        : hidden;
   border-radius   : .6em;
   // background   : blue;
   margin-right    : 2em;
   box-shadow      : rgba(0, 0, 0, 0.4) 0px 16px 38px -12px, rgba(0, 0, 0, 0.4) 0px 4px 25px 0px, rgba(0, 0, 0, 0.4) 0px 8px 10px -5px;
}

.p-r {
   flex  : 0 1 auto;
   height: 100%;

   // background: green;
   >.pr1 {
      width      : auto;
      font-size  : 1.6em;
      margin-top : .4em;
      line-height: 1.2;
   }

   >.pr2 {
      width      : auto;
      margin-top : .6em;
      font-size  : 1.2em;
      line-height: 1.2;
   }

   >.pr3 {
      width      : auto;
      margin-top : .4em;
      line-height: 1.4;
   }
}
