@font-face {
   font-family : "Futura PT Light";
   font-style  : normal;
   font-weight : 400;
   font-display: swap;
   src         : local("Futura PT Light"), url(./fonts/FuturaPTLight.otf);
}

@font-face {
   font-family : "Futura PT Book";
   font-style  : normal;
   font-weight : 400;
   font-display: swap;
   src         : local("Futura PT"), local("Futura PT Book"), url(./fonts/FuturaPTBook.otf);
}

/* latin */
@font-face {
   font-family : 'Raleway';
   font-style  : normal;
   font-weight : 400;
   font-display: swap;
   src         : local('Raleway'), local('Raleway-Regular'), url(./fonts/Raleway.woff) format('woff');
}